<plugin name='acegi' version='0.3'>
  <author>Tsuyoshi Yamamoto</author>
  <authorEmail>tyama@xmldo.jp</authorEmail>
  <title>Grails Spring Security 2.0 Plugin</title>
  <description>Plugin to use Grails domain class and secure your applications with Spring Security filters.</description>
  <documentation>http://grails.org/AcegiSecurity+Plugin</documentation>
  <resources>
    <resource>DefaultSecurityConfig</resource>
    <resource>org.grails.plugins.springsecurity.taglib.AuthorizeTagLib</resource>
    <resource>org.grails.plugins.springsecurity.service.AuthenticateService</resource>
    <resource>org.grails.plugins.springsecurity.controller.AuthBase</resource>
  </resources>
</plugin>